

    </div>
    <!-- End Wrapper -->

    <!-- Start Footer -->
    
	<div class="wrap container-fluid">
	  <div class="row">
	      <footer class="col-xs-12">
	        <p class="footer-text">Geshe Losel is associated with <a href="http://imisangha.org/">The International Mahayana Institute (IMI)</a> and a recognised teacher within the <a href="http://fpmt.org/">FPMT</a></p>
	        <div class="footer-text">If you would like to make a donation to support Geshe Losel and his translation work you can donate securely using Paypal. <a class="dontate-link" href="https://paypal.me/grahamwoodhouse84
	">Donate</a> There is also a <a class="dontate-link" href="/gofundme-campaign/">GoFundMe</a> Campaign currently active to help raise funds for Bodhichitta Land.</div>
	      </footer>
	    </div>
	</div>

    <!-- End Footer -->

</body>
</html>