<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<meta name="Geshe Losel is a British monk, born Graham Woodhouse is one of the very few Westerners trained in the traditional Tibetan way as a Geshe."/ >
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="shortcut icon" href="{{ site.url }}/images/favicon.ico" />
	
	<link rel="stylesheet" href="{{ site.url }}/css/flexboxgrid.min.css">
	<link rel="stylesheet" href="{{ site.url }}/css/index.css">
	<link rel="stylesheet" href="{{ site.url }}/css/site.css">
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora|Open Sans|Montserrat:400,500,700&display=swap" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173445487-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-173445487-1');
	</script>

</head>
<body>
	<div class="wrap container-fluid">
		
		<!-- Red block -->
		<div class="row">
		    <div class="col-xs-2
		                col-sm-1">
		        <a href="/" class="box box--red"></a>
		    </div>
		</div>

		<!-- Header -->
		<div class="row site-header xs-site-header">
	        <div class="col-xs-10
	                    col-sm-10
	                    col-md-4">
	              <h1 class="site-title">Geshe Tenzin Losel</h1>
	              <h2 class="site-sub-title">Personal Website & Schedule</h2>
	              <a class="youtube-link" href="https://www.youtube.com/channel/UCoIZkjMDPgLpIma-mDvD6Ew"><img class="youtube-link__icon" src="/images/youtube-icon.svg" title="YouTube Channel" alt="YouTube Channel"></a>
	        </div>
			
			{% include nav.html %}

		</div>