<!-- Main navigation -->

<div class="col-xs-12 col-sm-10 col-md-8">
  <button class="nav-toggle" aria-label="Toggle navigation">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav class="main-nav xs-main-nav">
    <div class="nav-content">
      <a
        class="{% if page.pageName == 'index' %} main-nav__active {% endif %}"
        href="/"
      >
        Teaching Schedule
      </a>
      <a
        class="{% if page.pageName == 'Publications' %} main-nav__active {% endif %}"
        href="/publications"
      >
        Publications
      </a>
      <a
        class="{% if page.pageName == 'Recordings' %} main-nav__active {% endif %}"
        href="/recordings"
      >
        Recordings
      </a>
      <a
        class="{% if page.pageName == 'GoFundMe' %} main-nav__active {% endif %}"
        href="/gofundme-campaign"
      >
        Campaign
      </a>
    </div>
  </nav>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const navToggle = document.querySelector(".nav-toggle");
    const mainNav = document.querySelector(".main-nav");

    navToggle.addEventListener("click", function () {
      navToggle.classList.toggle("active");
      mainNav.classList.toggle("active");
    });

    // Close menu when clicking outside
    document.addEventListener("click", function (event) {
      if (
        !mainNav.contains(event.target) &&
        !navToggle.contains(event.target)
      ) {
        navToggle.classList.remove("active");
        mainNav.classList.remove("active");
      }
    });
  });
</script>
